# Copyright (c) 2017, Code Aurora Forum. All rights reserved.
#
# add support for spectrum
import /init.spectrum.rc

on boot

# Set light thermal restrictions while optimizing apps
# [throttle_freq_LITTLE, throttle_freq_big, throttle_temp, unthrottle_temp]
    write /sys/kernel/msm_thermal/zone0 "1689600 2035200 46 44"
    write /sys/kernel/msm_thermal/zone1 "1516800 1862400 50 47"
    write /sys/kernel/msm_thermal/zone2 "1171200 1516800 55 53"
    write /sys/kernel/msm_thermal/zone3 "825600 1171200 65 63"
    write /sys/kernel/msm_thermal/enabled 1
 
on charger

#Config Simple Thermal driver
# [throttle_freq_LITTLE, throttle_freq_BIG, throttle_temp, unthrottle_temp]
    write /sys/kernel/msm_thermal/enabled 0
    write /sys/kernel/msm_thermal/zone0  "2208000 2553600 57 52"
    write /sys/kernel/msm_thermal/zone1  "2208000 2380800 58 53"
    write /sys/kernel/msm_thermal/zone2  "2131200 2208000 59 54"
    write /sys/kernel/msm_thermal/zone3  "2035200 2035200 60 55"
    write /sys/kernel/msm_thermal/zone4  "1862400 1862400 61 56"
    write /sys/kernel/msm_thermal/zone5  "1689600 1689600 62 57"
    write /sys/kernel/msm_thermal/zone6 "1516800 1516800 63 58"
    write /sys/kernel/msm_thermal/zone7 "1344000 1344000 64 59"
    write /sys/kernel/msm_thermal/zone8 "1171200 1171200 65 60"
    write /sys/kernel/msm_thermal/zone9 "998400 998400 66 61"
    write /sys/kernel/msm_thermal/zone10 "825600 825600 67 62"
    write /sys/kernel/msm_thermal/zone11 "652800 652800 68 63"
    write /sys/kernel/msm_thermal/zone12 "480000 480000 69 64"
    write /sys/kernel/msm_thermal/zone13 "307200 307200 70 65"
    write /sys/kernel/msm_thermal/sampling_ms 1000
    write /sys/kernel/msm_thermal/enabled 1
    
on property:sys.boot_completed=1

#Animation script
exec u:r:init:s0 root root -- /init.animation.sh
exec u:r:su:s0 root root -- /init.animation.sh

#Fingerprint unlock with screen off by default
	write /sys/devices/soc/soc:fpc_fpc1020/enable_wakeup 1

#Config Simple Thermal driver
# [throttle_freq_LITTLE, throttle_freq_BIG, throttle_temp, unthrottle_temp]
    write /sys/kernel/msm_thermal/enabled 0
    write /sys/kernel/msm_thermal/zone0  "2208000 2553600 57 52"
    write /sys/kernel/msm_thermal/zone1  "2208000 2380800 58 53"
    write /sys/kernel/msm_thermal/zone2  "2131200 2208000 59 54"
    write /sys/kernel/msm_thermal/zone3  "2035200 2035200 60 55"
    write /sys/kernel/msm_thermal/zone4  "1862400 1862400 61 56"
    write /sys/kernel/msm_thermal/zone5  "1689600 1689600 62 57"
    write /sys/kernel/msm_thermal/zone6 "1516800 1516800 63 58"
    write /sys/kernel/msm_thermal/zone7 "1344000 1344000 64 59"
    write /sys/kernel/msm_thermal/zone8 "1171200 1171200 65 60"
    write /sys/kernel/msm_thermal/zone9 "998400 998400 66 61"
    write /sys/kernel/msm_thermal/zone10 "825600 825600 67 62"
    write /sys/kernel/msm_thermal/zone11 "652800 652800 68 63"
    write /sys/kernel/msm_thermal/zone12 "480000 480000 69 64"
    write /sys/kernel/msm_thermal/zone13 "307200 307200 70 65"
    write /sys/kernel/msm_thermal/sampling_ms 1000
    write /sys/kernel/msm_thermal/enabled 1

#Enable Fingerprint Boost
    write /sys/kernel/fp_boost/enabled 1

#Low memory killer
	write /sys/module/lowmemorykiller/parameters/enable_adaptive_lmk 0
	write /sys/module/lowmemorykiller/parameters/minfree "1536,3072,4096,21000,23000,25000"

#Underclock
    write /sys/module/cpufreq/parameters/enable_underclock_balanced N
    write /sys/module/cpufreq/parameters/enable_underclock_battery N

#Update cpusets now that boot is complete and we want better load balancing
    write /dev/cpuset/top-app/cpus 0-3
    write /dev/cpuset/foreground/cpus 0-2
    write /dev/cpuset/background/cpus 0
    write /dev/cpuset/system-background/cpus 0-2
