# Copyright (c) 2017, Code Aurora Forum. All rights reserved.
#
# add support for spectrum
import /init.spectrum.rc

on boot

# Set light thermal restrictions while optimizing apps
# [throttle_freq_LITTLE, throttle_freq_big, throttle_temp, unthrottle_temp]
    write /sys/kernel/msm_thermal/zone0 "1344000 1689600 46 44"
    write /sys/kernel/msm_thermal/zone1 "1267200 1516800 50 47"
    write /sys/kernel/msm_thermal/zone2 "998400 1267200 55 53"
    write /sys/kernel/msm_thermal/zone3 "748800 921600 65 63"
    write /sys/kernel/msm_thermal/enabled 1
 
on charger

#Config Simple Thermal driver
# [throttle_freq_LITTLE, throttle_freq_BIG, throttle_temp, unthrottle_temp]
    write /sys/kernel/msm_thermal/enabled 0
    write /sys/kernel/msm_thermal/zone0  "2035200 2476800 45 40"
    write /sys/kernel/msm_thermal/zone1  "2035200 2380800 46 41"
    write /sys/kernel/msm_thermal/zone2  "2035200 2304000 47 42"
    write /sys/kernel/msm_thermal/zone3  "1958400 2208000 48 43"
    write /sys/kernel/msm_thermal/zone4  "1958400 2131200 49 44"
    write /sys/kernel/msm_thermal/zone5  "1958400 2035200 50 45"
    write /sys/kernel/msm_thermal/zone6  "1862400 1958400 51 46"
    write /sys/kernel/msm_thermal/zone7  "1862400 1862400 52 47"
    write /sys/kernel/msm_thermal/zone8  "1785600 1785600 53 48"
    write /sys/kernel/msm_thermal/zone9  "1689600 1689600 54 49"
    write /sys/kernel/msm_thermal/zone10  "1612800 1612800 55 50"
    write /sys/kernel/msm_thermal/zone11 "1516800 1516800 56 51"
    write /sys/kernel/msm_thermal/zone12 "1440000 1440000 57 52"
    write /sys/kernel/msm_thermal/zone13 "1344000 1344000 58 53"
    write /sys/kernel/msm_thermal/zone14 "1267200 1267200 59 54"
    write /sys/kernel/msm_thermal/zone15 "1171200 1171200 60 55"
    write /sys/kernel/msm_thermal/zone16 "1094400 1094400 61 56"
    write /sys/kernel/msm_thermal/zone17 "998400 998400 62 57"
    write /sys/kernel/msm_thermal/zone18 "921600 921600 63 58"
    write /sys/kernel/msm_thermal/zone19 "825600 825600 64 59"
    write /sys/kernel/msm_thermal/zone20 "748800 748800 65 60"
    write /sys/kernel/msm_thermal/zone21 "652800 652800 66 61"
    write /sys/kernel/msm_thermal/zone22 "576000 576000 67 62"
    write /sys/kernel/msm_thermal/zone23 "480000 480000 68 63"
    write /sys/kernel/msm_thermal/zone24 "403200 403200 69 64"
    write /sys/kernel/msm_thermal/zone25 "307200 307200 70 65"
    write /sys/kernel/msm_thermal/sampling_ms 1000
    write /sys/kernel/msm_thermal/enabled 1
    
on property:sys.boot_completed=1

#Animation script
exec u:r:init:s0 root root -- /init.animation.sh
exec u:r:su:s0 root root -- /init.animation.sh

#Fingerprint unlock with screen off by default
	write /sys/devices/soc/soc:fpc_fpc1020/enable_wakeup 1

#Config Simple Thermal driver
# [throttle_freq_LITTLE, throttle_freq_BIG, throttle_temp, unthrottle_temp]
    write /sys/kernel/msm_thermal/enabled 0
    write /sys/kernel/msm_thermal/zone0  "2035200 2476800 45 40"
    write /sys/kernel/msm_thermal/zone1  "2035200 2380800 46 41"
    write /sys/kernel/msm_thermal/zone2  "2035200 2304000 47 42"
    write /sys/kernel/msm_thermal/zone3  "1958400 2208000 48 43"
    write /sys/kernel/msm_thermal/zone4  "1958400 2131200 49 44"
    write /sys/kernel/msm_thermal/zone5  "1958400 2035200 50 45"
    write /sys/kernel/msm_thermal/zone6  "1862400 1958400 51 46"
    write /sys/kernel/msm_thermal/zone7  "1862400 1862400 52 47"
    write /sys/kernel/msm_thermal/zone8  "1785600 1785600 53 48"
    write /sys/kernel/msm_thermal/zone9  "1689600 1689600 54 49"
    write /sys/kernel/msm_thermal/zone10  "1612800 1612800 55 50"
    write /sys/kernel/msm_thermal/zone11 "1516800 1516800 56 51"
    write /sys/kernel/msm_thermal/zone12 "1440000 1440000 57 52"
    write /sys/kernel/msm_thermal/zone13 "1344000 1344000 58 53"
    write /sys/kernel/msm_thermal/zone14 "1267200 1267200 59 54"
    write /sys/kernel/msm_thermal/zone15 "1171200 1171200 60 55"
    write /sys/kernel/msm_thermal/zone16 "1094400 1094400 61 56"
    write /sys/kernel/msm_thermal/zone17 "998400 998400 62 57"
    write /sys/kernel/msm_thermal/zone18 "921600 921600 63 58"
    write /sys/kernel/msm_thermal/zone19 "825600 825600 64 59"
    write /sys/kernel/msm_thermal/zone20 "748800 748800 65 60"
    write /sys/kernel/msm_thermal/zone21 "652800 652800 66 61"
    write /sys/kernel/msm_thermal/zone22 "576000 576000 67 62"
    write /sys/kernel/msm_thermal/zone23 "480000 480000 68 63"
    write /sys/kernel/msm_thermal/zone24 "403200 403200 69 64"
    write /sys/kernel/msm_thermal/zone25 "307200 307200 70 65"
    write /sys/kernel/msm_thermal/sampling_ms 1000
    write /sys/kernel/msm_thermal/enabled 1

#Enable Fingerprint Boost
    write /sys/kernel/fp_boost/enabled 1

#Low memory killer
	write /sys/module/lowmemorykiller/parameters/enable_adaptive_lmk 0
	write /sys/module/lowmemorykiller/parameters/minfree "1536,3072,4096,21000,23000,25000"

#Underclock
    write /sys/module/cpufreq/parameters/enable_underclock_balanced N
    write /sys/module/cpufreq/parameters/enable_underclock_battery N

#Update cpusets now that boot is complete and we want better load balancing
    write /dev/cpuset/top-app/cpus 0-3
    write /dev/cpuset/foreground/cpus 0-2
    write /dev/cpuset/background/cpus 0
    write /dev/cpuset/system-background/cpus 0-2
